.reservation {
    background-image:url(../images/background_reservation.svg);
    background-color: #d9e7ff;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    padding: 100px 0 120px;
  }
  
  .reservation__title{
    margin: 0 0 80px;
    text-align: center;
    font-family: Inter;
    font-style: normal;
    font-weight: 500;
    font-size: 44px;
    line-height: 52px;
  }
  
  .reservation__form{
    margin: 0 auto;
  }
  
  .form{
    max-width: 385px;
  }
  
  .form__fiedset {
    padding: 0;
    margin: 0;
    border: none;
  }
  
  .form__label{
    margin-bottom: 32px;
    display: block;
    font-family: Inter;
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    line-height: 20px;
  }
  
  .form__imput {
    display: block;
    width: 100%;
    padding: 0;
    box-sizing: border-box;
    margin-top: 8px;
    border: 4px;
  }
  
  .placeholder{
    font-family: Inter;
    font-style: normal;
    font-weight: normal;
    font-size: 20px;
    line-height: 30px;
    color: #838383;
  }
  
  .form__botton {
    width: 100%;
    font-family: Inter;
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    line-height: 20px;
    margin: 32px 
  
  }
  
  