
.page {
    font-family: Inter, Arial, sans-serif;
    font-family: "Noto serif", "Times New Roman", serif;
    min-width: 1100px;
    max-width: 1600px;
    margin: 0 auto;
    padding: 20px;
    box-sizing: border-box;

}

/*
.body {
    font-family: Inter, Arial, sans-serif;
    font-size: 16px;
    line-height: 20px;
}

.header {
}

.section{
}
.main {
}

.footer {
}

body {
    font-family: 'Inter', sans-serif; /* This sets the font to Inter 
    color: #333;  This sets the text color to dark grey


  } */
  